* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccee66;
    color: white;
    padding: 20px 160px;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden;
}

body::before {
    content: '';
    background: #202020;
    position: absolute;
    top: 0;
    left: -800px;
    transform: rotate(-70deg);
    width: 100%;
    height: 120%;
}

body::after {
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 250px;
    font-weight: bold;
    opacity: 0.5;
}

.logo {
    width: 80px;
    margin-bottom: 80px;
}

h4 {
    font-size: 30px;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
}

.botao-carrinho {
    background: #a3be52;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.botao-carrinho:hover {
    opacity: 0.7;
}

.imagem-tenis {
    width: 800px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;
    z-index: 1;
}

.caixa-texto {
    max-width: 500px;
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.botoes {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:active {
    opacity: 0.6;
}

.verde {
    background: #ccee66;
    border: 3px solid white;
}

.azul {
    background: #58cced;
    border: 3px solid white
}

.rosa {
    background: #ff9eb5;
    border: 3px solid white
}

@media (max-width: 1024px) {
    .caixa-principal {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        
    }
    body::after {
        font-size: 200px;
    }


    .imagem-tenis {
        width: 600px;
        transform: rotate(-20deg);
    }

    h1 {
        font-size: 60px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px 20px;
    }
    body::after {
        font-size: 150px;
    }


    .caixa-texto {
        max-width: 100%;
    }

    .imagem-tenis {
        width: 400px;
        transform: rotate(-15deg);
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .botao-carrinho {
        font-size: 14px;
        padding: 8px 16px;
    }

    .botoes {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .caixa-principal {
        padding: 10px;
        gap: 20px;
    }
    body::after {
        font-size: 100px;
    }


    .imagem-tenis {
        width: 300px;
        transform: rotate(-10deg);
    }

    h1 {
        font-size: 40px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .botao-carrinho {
        font-size: 14px;
        padding: 6px 12px;
    }

    .botoes {
        width: 40px;
        height: 40px;
    }
}
